/* =============================================================================
   Buttons
   ========================================================================== */


//  {
// 	@include transition(background-color 0.3s ease);
// 	background: #eeb111;
// 	border: 0;
// 	line-height: 1;
// 	@include border-radius(2px);
// 	&:hover {
// 		background: #d9a110;
// 	}
// }

button {
	display: inline-block;
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}
.orange-btn {
	display: inline-block;
	border: 1px solid #af820e;
	background: #eeb111; 
	padding: 0.6em 2em;
	@include font-size(15);
	@include border-radius(2px);
	@include box-shadow(0 4px 0 0 rgba(#d8d8d8, 0.75), 0 0 0 5px rgba(#FFF, 0.5));
	color: #FFF;
	@include helvetica-bold;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 1;
	margin: 4px 0;

	&:hover {
		color: #FFF;
		background: #d9a110;
	}

	&:active {
		position: relative;
		top: 4px;
		@include box-shadow(0 0 0 5px rgba(#FFF, 0.5));
		outline: none;
	}

	&:focus {
		outline: none;
	}

	&.big {
		@include font-size(20);
	}
}


.white-btn {
	display: inline-block;
	border: 1px solid #b1b1b1;
	background: #FFF;
	padding: 0.8em 2em;
	@include font-size(15);
	@include border-radius(2px);
	@include box-shadow(0 4px 0 0 rgba(#d8d8d8, 0.75), 0 0 0 5px rgba(#FFF, 0.5));
	color: #333333;
	@include helvetica-roman;
	vertical-align: middle;
	line-height: 1;

	&:hover {
		color: #333333;
		background: #ececee;
	}

	&:active {
		position: relative;
		top: 4px;
		@include box-shadow(0 0 0 5px rgba(#FFF, 0.5));
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

.mobile-sidebar-btn,
.mobile-navigation-btn {
	display: none;
	text-transform: uppercase;
	@include helvetica-bold;
	@include font-size(13);
	padding: 1em;
	&:before {
		line-height: 0;
		@include font-size(20);
		vertical-align: middle;
		@extend [class*="icon-"];
		@extend .icon-align-justify:before;
	}
}

.arrow-down-btn {
	display: inline-block;
	@include helvetica-bold;
	@include font-size(20);

	&:after {
		@extend [class*="icon-"];
		@extend .icon-arrow-down:before;
		color: #eeb111;
		font-size: 1em;
		margin-left: 1em;
	}
}

.arrow-right-btn {
	display: inline-block;
	@include helvetica-bold;
	@include font-size(20);

	&:after {
		@extend [class*="icon-"];
		@extend .icon-arrow-right:before;
		color: #eeb111;
		font-size: 0.6em;
		margin-left: 0.6em;
	}
}


.arrow-left-btn {
	display: inline-block;

	&:before {
		@extend [class*="icon-"];
		@extend .icon-arrow-left:before;
		color: #eeb111;
		vertical-align: middle;
		font-size: 0.8em;
		margin-right: 0.6em;
	}
}


.facebook-btn,
.twitter-btn {
	@include helvetica-bold;
	@include font-size(13);
	&:before {
		@extend [class*="icon-"];
		@include font-size(30);
		margin-right: 0.2em;
		vertical-align: middle;
	}
}

.facebook-btn {
	&:before {
		color: #3b5998;
		@extend .icon-facebook:before;
	}
}

.twitter-btn {
	&:before {
		color: #2caae1;
		@extend .icon-twitter:before;
	}
}