/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #00a3e0;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

.grey-gradient-bg {
	@include filter-gradient(#f3f3f3, #d5d5d5);
	@include background(linear-gradient(#f3f3f3, #d5d5d5));
}

/* =============================================================================
   Text
   ========================================================================== */

a {
	text-decoration: none;
	color: #df5206;
	cursor: pointer;
	@include transition(all 0.3s ease);
	&:hover {
		color: #a83e05;
	}
}

h1 {
	@include landrover-medium;
	@include font-size(40);
	line-height: 0.9;
	margin: 0.3em 0;
	text-transform: uppercase;
}

h2 {
	margin: 0.5em 0;
	@include landrover-medium;
	@include font-size(30);
	line-height: 1;
	text-transform: uppercase;
}

h3 {
	margin: 0.5em 0;
	@include landrover-medium;
	@include font-size(25);
	line-height: 1;
	text-transform: uppercase;
}

h4 {
	margin: 0.5em 0;
	@include landrover-medium;
	@include font-size(20);
	line-height: 1;
	text-transform: uppercase;
}

h5 {
	margin: 0.5em 0;
	@include landrover-light;
	@include font-size(18);
	line-height: 1;
	text-transform: uppercase;
}

h6 {
	margin: 0.5em 0;
	@include landrover-light;
	@include font-size(16);
	line-height: 1;
	text-transform: uppercase;
}

p {
	margin: 0.8em 0;
}

.huge {
	font-size: 150%;
}

.big {
	font-size: 130%;
}

.small {
	font-size: 90%;
}

p.small {
//	margin: 4px 0;
	line-height: 1.5;
}

.tiny {
	font-size: 80%;
}

.bold,
strong,
b {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.align-center,
.text-center {
	text-align:  center;
}

.align-middle,
.text-middle {
	vertical-align: middle;
}

.normal-style {
	font-style: normal;	
}

.underline {
	text-decoration: underline;	
}

.uppercase {
	text-transform: uppercase;
}

.normalcase {
	text-transform: none;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

a.white:hover {
	color: #ffbbbb;
}

.grey {
	color: #a8a8a8;	
}

a.grey:hover {
	color: #878787;	
}

.dark-grey {
	color: #333333;
}

a.dark-grey:hover {
	color: #141414;
}

.light-grey {
	color: #CCC;	
}

a.light-grey:hover {
	color: #a8a8a8;	
}

.orange {
	color: #e05206;	
}

a.orange:hover {
	color: #ac4b22;
}

.pink {
	color: #ed1375;	
}

.blue {
	color: #061730;	
}

.dark-blue {
	color: #0057a6;
}

.teal {
	color: #13a89e;
}

.red {
	color: #ed2724;
}

.green {
	color: #c2ed00;
}

a.green:hover {
	color: #c9f400;
}

.purple {
	color: #9c0059;
}

a.purple:hover {
	color: #000000;
}
.error {
	color: #7e0606;
}

.brown {
	color: #7d563b;
}

a.brown:hover {
	color: #5c3f2b;
}

.light-brown {
	color: #c09367;
}

a.light-brown:hover {
	color: #977451;
}

/* =============================================================================
   Misc
   ========================================================================== */


.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}


.hide-on-tablet {
	@include device-width(8) {
		display: none !important;
	}
}

.hide-on-mobile {
	@include device-width(4) {
		display: none !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-middle {
	vertical-align: middle;	
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}
.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #999;
	border: 0;
    height: 1px;
	margin: 1em auto;

	&.thick {
		height: 4px;	
	}
}


.border {
	border: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;	
}

.border-top {
	border-top: 1px solid #ececec;	
}

.border-left {
	border-left: 1px solid #ececec;	
}

.border-right {
	border-right: 1px solid #ececec;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}

.scroller {
	position: relative;
	min-height: 100px;
	
	.scroller-mask {
		position: relative;
		overflow: hidden;
		height: 100%;
		
		.scroll-items-container {	
			width: 20000px;
			left: 0;
			height: 100%;
			position: relative;
		}

		.scroll-item {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			display: none;

			&.current {
				display: block;

				.description {
					opacity: 1;
				}
			}

			.description {
				@include transition(opacity 1s ease-in-out);
				opacity: 0;
			}
		}
	}
	
	.scroller-pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		@include translateX(-50%);
		@extend .clearfix;
		li {
			float: left;
			list-style: none;
			margin: 0.5em 0.3em;
			.btn {
				display: block;
				background: #e4e4e4;
				width: 12px;
				height: 12px;
				@include border-radius(2px);
				padding: 0;
				@include box-shadow(inset 0px 1px 2px 0px rgba(#000, 0.4));
			}

			&.current .btn,
			.btn:hover {
				background: #7daef1;
			}
		}
	}

	.scroller-navigation {
		position: absolute;
		top: 50%;
		left: 0;
		height: 0;
		width: 100%;
		z-index: 2000;
		margin-top: -4em;
		
		.prev-btn,
		.next-btn {
			width: 5em;
			height: 5em;
			padding: 0;
			position: absolute;
			display: inline-block;
			background: none;
			&:hover,
			&.hover {
				background: none;

				&:before {
					color: #e05206;
				}
			}	

			&:before {
				color: #FFF;
				@include transition(all 0.3s ease);
				font-size: 2.5em;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -0.4em;
				margin-top: -0.5em;
				@extend [data-icon]:before;
			}

			
		}


		.prev-btn {
			left: 1.5em;
			&:before {
				@extend .icon-arrow-left-large:before;
			}
		}


		.next-btn {
			right: 1.5em;
			&:before {
				@extend .icon-arrow-right-large:before;
			}
		}
	}
}

.overlay {
	// width:100%;
	// height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.4);
	@include transition(all 0.6s ease);

	.no-rgba & {
		@include opacity(0.4);
		background: #000;
	}
}

.lightbox {
	left: 50%;
    margin-left: -550px;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 1100px;
    z-index: 200;
	
	> .loader {
		padding: 280px 0 0 0;
	}
}
	
.vertical-line {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: #BEBEBE;
	vertical-align: middle;
}

.scale {
	width: 100%;
	height: auto !important;
	max-height: 100%;
	max-width: 100%;
	display: block;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.shadow-3d {
	position: relative;
	z-index: 100;

	&:before {
		content: '';
		z-index: 0;
		display: none;
		.loaded & {
			display: block;
		
			@include device-width(5){
				display: none;
			}
		}
		position: absolute;
		width: 80%;
		height: 0;
		bottom: -1%;
		left: 10%;
		z-index: 0;
		@include box-shadow(0px 0px 25px 8px #000);
		@include transform(perspective(200) rotateX(50deg));
	}

	> * {
		z-index: 200;
		position: relative;
	}
}

.decimal-list {
	list-style: none;
	margin: 0;
	padding: 0;
	ol {
		list-style: none;
		padding-left: 2em;
	}

	li {
		margin: 0.5em 0;
		position: relative;
		&:before {
			position: absolute;
			font-weight: bold;
			left: 0;
		}
	}

	> li {
		counter-increment: firstcounter;
		padding-left: 2em;
		&:before {
			content: counter(firstcounter) ".";
		}

		> ol {
			> li {
				counter-increment: secondcounter;
				padding-left: 2em;
				&:before {
					content: counter(firstcounter) "." counter(secondcounter);
				}
				> ol {
					> li {
						counter-increment: thirdcounter;
						padding-left: 3em;
						&:before {
							content: counter(firstcounter) "." counter(secondcounter) "." counter(thirdcounter);
						}
					}
				}
			}
		}
	}
}

.divider {
	position: relative;
	z-index: 600;
	@include box-shadow(0 5px 8px -3px rgba(#000, 0.5));
	@include filter-gradient(#f3f3f3, #d5d5d5);
	@include background(linear-gradient(#f3f3f3, #d5d5d5));
	padding: 1.4em 0 1em 0;	
}

.accordion {
	padding: 0;
	margin: 0;
	position: relative;
	list-style: none;

	.item {
		background-position: center top;
		.footer {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 21px;
			.btn {
				cursor: default;
				position: absolute;
				top: 50%;
				@include transform-style(preserve-3d);
				@include transition(all 0.3s ease);
				@include apply-origin(0 0, false);
				background: #FFF;
				@include filter-gradient(#f4f4f4, #d7d7d7);
				@include background(linear-gradient(color-stops(#f4f4f4, #f4f4f4 75%, #d7d7d7)));
				width: 142px;
				// -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000, sizingMethod='auto expand')";
				// filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000, sizingMethod='auto expand');
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				@include transform3d(rotate(-90deg) translateX(-50%) translate3d( 0, 0, 0));
				@include border-radius(3px 3px 0 0);
				color: #e05206;
				font-weight: bold;
				text-transform: uppercase;
				@include font-size(12);
				visibility: hidden;
				opacity: 0;
				z-index: 500;
				line-height: 1.2;
				.lt-ie10 & {
					-ms-transform:rotate(-90deg);
				}

				.no-csstransforms & {
					display: none;
				}
			}
		}

		&.item-closed {
			&:hover {
				 .footer .btn {
					background: #000;
					color: #FFF;
				}

				.overlay {
					visibility: hidden;
					@include opacity(0);	
				}
			}

			.btn {
				visibility: visible;
				@include opacity(1);	
				cursor: pointer;
			}

		}

		&.item-opened .content {
			visibility: visible;
			@include opacity(1);
		}

		&.item-open {
			.overlay {
				visibility: hidden;
				@include opacity(0);	
			}
			.content {
		 		display: block;
			}
		}

		.content {
		 	visibility: hidden;
		 	opacity: 0;
		 	display: none;
		 	background: #000;
		 	background: rgba(#000, 0.4);
		 	color: #FFF;
			position: absolute;
			z-index: 400;
			left: 0;
			padding: 1.4em 2em 1em 2em;
			top: 50%;
			margin-top: -3em;
			width: auto;
		 	@include transition(all 0.5s ease);

			.csstransforms & {
				@include translateY(-50%);
				margin-top: 0;
			}
		}


		.overlay {
			@include transition(all 0.3s ease);
			background: rgba(#FFF, 0.5);
			visibility: hidden;
			@include opacity(0);
		}
	}

	&.opened {
		.item {
			&.item-closed {
				.overlay {
					visibility: visible;
					@include opacity(1);	
				}
			}
		}
	}
}

.riders {
	background: #f3f3f3;
	@include filter-gradient(#e2e0e3, #e1dfe2);
	@include background(linear-gradient(color-stops(#e2e0e3, #e2e0e3 60%, #d2d0d3 62%, #e1dfe2)));
	
	> .inner {
		padding: 1em 20px;
	}
	.riders-header {
		padding: 1em 0;
	}

	.accordion {
		.item {
			margin: 0 10px;
			@include transition(transform 0.5s ease, transform-origin 0.5s ease);
			
			> .inner {
				background: #FFF;
				position: relative;
				height: 320px;
				padding-left: 233px;
				width: 0;
				margin: 0 auto;
				@include box-shadow(-2px 4px 6px -1px rgba(#000, 0.6));
				display: block;
				@include transition(all 0.5s ease);
			}

			&.item-open {
				z-index: 200;
				
				> .inner {
					width: 300px;
					@include scale(1);
				}
			}

			&.item-opened {
				.content {
					display: block;
				}
			}

			&.item-closed {
				
				z-index: 100;
				//@include scale(0.9);
				&:hover {
					//@include scale(1.1);

					.featured-image {
						.btn {
							background: #000;
							color: #e05206;
						}
					}

					.overlay {
						visibility: visible;
						@include opacity(1);
					}
				}
				// .inner {
					
				// }
			}

			.featured-image {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 230px;
				padding: 0 20px;
				left: -20px;
				img {
					width: 100%;
					left: 0;
					position: absolute;
				}


				.btn {
					position: absolute;
					bottom: -1em;
					@include font-size(18);
					left: 50%;
					z-index: 200;
					margin-left: -4.5em;
					width: 60%;
					
					.csstransforms & {
						@include translateX(-50%);
						margin-left: 0;
						width: auto;
					}
				}
			}

			.content {
				color: #333;
				position: relative;
				width: 300px;
				background: none;
				margin-top: 0;
				top: 0;
				padding: 0;
				height: 100%;

				.csstransforms & {
					@include translateY(0);
				}

				> .inner {
					padding: 0 4em 0 1em;
					overflow-y: scroll;
					height: 100%;

				}
			}

			.close-btn {
				position: absolute;
				right: 1.8em;
				top: 1.2em;
				width: auto;
				height: auto;
				padding: 0.6em 0.8em;
			}

			.overlay {
				background: rgba(#000, 0.5);
			}
		}

		&.opened {
			.item {
				&.item-closed {
					@include apply-origin(0 50%, false);
					//> .inner {
						opacity: 0.5;
						@include scale(0.45);
					//}

					.featured-image {
						.btn {
						}
					}
				}
			}
		}
	}
}



.disciplines {
	padding: 0;
	margin: 0;
	.disciplines-header {
		padding: 2em 0 1em 0;
		background: url(../images/backgrounds/disciplines.jpg) no-repeat center top;
	}

	.disciplines-list {
		background: url(../images/backgrounds/disciplines.jpg) no-repeat center -123px;
		margin: 0;
		padding: 2em 3em 2em 3em;
		list-style: none;
		.discipline {
			margin: 0 0 1em 0;
			a {
				position: relative;
				text-align: center;
				display: block;

				&:hover {

					//@include scale(1.1);
					.btn {
						background: #000;
						color: #e05206;
					}

					.overlay {
						visibility: visible;
						@include opacity(1);
					}
				}
			}
			.featured-image {
				@include box-shadow(0px 2px 6px 0px rgba(#000, 0.6));
				position: relative;
			}

			.btn {
				position: relative;
				z-index: 800;
				margin: -1em 0 0 0;
			}

			.overlay {
				visibility: hidden;
				@include opacity(0);
			}
		}
	}
}

.episodes-scroller {
	@include box-shadow(0 5px 8px -3px rgba(#000, 0.5));
	.scroll-item {
		height: 320px;

		&:hover {
			.overlay {
				visibility: hidden;
				@include opacity(0);
			}

			.content {
				background: #000;
				background: rgba(#000, 0.5);
			}
		}

		.content {
			z-index: 2000;
			color: #FFF;
			padding: 1em 4em 0.8em 6em;
			position: absolute;
			width: 40%; 
			top: 50%;
			left: 0;
			margin-top: -8em;
			@include transition(all 0.6s ease);

			.csstransforms & {
				@include translateY(-50%);
				margin-top: 0;
			}
		}
	}

	.episode-scroller-footer {
		background: #FFF;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3.2em;
		z-index: 800;

		.scroller-navigation {
			width: auto;
			left: 2em;
			margin-top: -1.2em;
			height: auto;
			.prev-btn,
			.next-btn {
				@include border-radius(3px);
				position: relative;
				left: auto;
				right: auto;
				margin: 0 0.2em 0 0;
				padding: 0.8em 1.5em 1em 1.5em;
				width: auto;
				height: auto;
				color: #e05206;
				background: #FFF; 
				@include box-shadow(0 0 1px 0 rgba(#000, 0.8));
				@include font-size(10);
				font-weight: bold;
				text-transform: uppercase;
				&:before {
					color: #e05206;
					font-size: 80%;

				}

				&:hover {
					background: #000;
					&:before {
						color: #FFF;
					}
				}
			}

			.prev-btn {
				padding-left: 3.5em;
				&:before {
					@extend .icon-arrow-left-small:before;
					// left: 2em;
					// right: auto;
				}
			}

			.next-btn {
				padding-right: 3.5em;
				&:before {
					@extend .icon-arrow-right-small:before;
					// right: 2em;
					// left: auto;
				}
			}
		}

		.scroller-pagination {
			bottom: auto;
			top: 50%;
			margin-top: -1em;
		}
		.episodes-btn {
			position: absolute;
			right: 2em;
			background: #FFF;
			top: 50%;
			margin-top: -1.5em;
			&:hover {
				background: #000;
			}
		}
	}
}

.episodes {
	> .inner {
		padding: 0 0 1em 0;
	}

	.episodes-header {
		padding: 2em 10em 1em 10em;
	}

	.episodes-list {
		margin: 1em 0 0 0;
		padding: 0 1em;
		list-style: none;
		@extend .clearfix;

		.episode {
			float: left;
			width: 25%;
			color: #061730;
			text-align: center;

			&.live {
				.featured-image {
					img {
						@include opacity(1);
					}
				}
			}

			> a {
				display: block;
				color: #061730;

				&:hover {
					color: #df5206;

					.featured-image {
						.overlay {
							@include opacity(1);
							visibility: visible;
						}
					}
				}
			}

			.featured-image {
				background: #FFF;
				position: relative;
				.play-btn {
					@include transition(all 0.3s ease);
					@include opacity(0);
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -16px;
					margin-top: -16px;
					z-index: 400;
				}

				.overlay {
					z-index: 300;
					position: absolute;
					@include transition(all 0.3s ease);
					@include opacity(0);
					background: none;
					border-bottom: 2px solid #e05206;
					visibility: hidden;
				}

				&:hover {
					.play-btn {
						@include opacity(1);
					}
				}
			}

			.episode-header {
				padding: 1.5em 0 0 0;
				margin: 0 -0.6em;

				.episode-title {
					@include font-size(15);
				}
				.date {
					margin: 0.4em 0;
				}
			}


		}
	}
}


.competition {
	padding: 6em 0;
	background: url(../images/backgrounds/competition.jpg) repeat-x center bottom;

	&.gform_confirmation_wrapper {
		background: none;
		text-align: center;
	}
	.gform_heading,
	.gform_body,
	.gform_footer {
		text-align: center;	
	}

	.gform_body {
		.top_label {
			.gfield_label {
				@include landrover-medium;
				@include font-size(25);
				font-weight: 400;
				text-transform: uppercase;
			}
		}
		.gfield_checkbox li, 
		.gfield_radio li, 
		.gfield_checkbox li {
			input[type=checkbox],
			input[type=radio] {
				float: none;
				display: inline-block;
			}

			label {
				margin: 0 0 0 0.5em;
				display: inline-block;
			}
		}

		.gform_fields {
			.hide-label {
				.gfield_label {
					display: none;
				}
			}

			.gfield.large-input {

				.ginput_container {
					> ul {
						padding: 1em 0;

						li {
							overflow: visible;
						}
					}

					input[type=checkbox],
					input[type=radio],
					input {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 100;
						&:checked {
							+ label {
								@include filter-gradient(#626262, #7d7b7d);
								@include background(linear-gradient(#626262, #7d7b7d));
								@include box-shadow(inset 0px 2px 8px 2px rgba(#000, 0.4));
								color: #FFF;
							}
						}
					}

					label {
						cursor: pointer;
						font-weight: bold;
						display: block;
						padding: 3.5em 0;
						width: 80%;
						position: relative;
						z-index: 400;
						@include filter-gradient(#f3f3f3, #dfdcdf);
						@include background(linear-gradient(#f3f3f3, #dfdcdf));
						@include box-shadow(0px 2px 5px 0px rgba(#000, 0.4));
						margin: 0 auto;
						@include transition(all 0.3s ease);
						text-transform: uppercase;
						&:hover {
						//	@include scale(1.1);
							@include filter-gradient(#ffffff, #e8e5e8);
							@include background(linear-gradient(#ffffff, #e8e5e8));
						}
					}
				}
			}

			.gfield.terms-conditions {
				margin-top: 8em;

				&.gfield_error label {
					color: #FFF;
				}
			}
		}
	}
}

.notification {
	margin: 0.3em 0 0.5em 0;

	.gform_heading,
	.gform_body,
	.gform_footer {
		text-align: center;
	}

	.gform_heading {
		margin-bottom: 0.6em !important;

		.gform_description {
			line-height: 1.4;
			display: inline-block;
		}
	}
}
/* =============================================================================
   Widgets
   ========================================================================== */



/* =============================================================================
   Lists
   ========================================================================== */

.red-list {
	list-style: none;
	margin: 10px 0;
	padding: 0;

	li {
		list-style: none;
		padding: 2px 0 2px 14px;
	}
}

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}

/* =============================================================================
   Buttons
   ========================================================================== */


button {
	background: #FFF;
	border: 0;
	padding: 0.3em 0.8em;
	line-height: 1;
	&:hover {
		background: #ebebeb;
	}
}

.blue-btn {
	display: inline-block;
	background: #253349;
	@include filter-gradient(#293c57, #071831);
	@include background(linear-gradient(color-stops(#293c57, #23344d 10%, #203048 52%, #223148 53%, #071831)));
	padding: 0.4em 1em 0.2em 1em;
	color: #FFF;
	line-height: 1;
	@include font-size(20);
	text-transform: uppercase;
	@include landrover-medium;
	@include border-radius(3px);
	@include box-shadow(0 0 3px 1px rgba(#000, 0.5));
	&:hover {
		color: #e05206;
		//@include box-shadow(0 0 3px 1px rgba(#000, 0.5), inset 0 0 3px 1px rgba(#FFF, 0.5));
		//background: #1c2738;
		//@include background(linear-gradient(color-stops(#192536, #172233 10%, #141e2e 52%, #161f2e 53%, #030b17)));
	}

	&[disabled],
	&.disabled {
		cursor: default;
		&:hover {
			color: #FFF;
		}		
	}
}

.white-btn,
input[type=submit] {
	display: inline-block;
	color: #e05206;
	line-height: 1;
	padding: 0.9em 4em 0.8em 1.5em;
	background: #f7f7f7;
	@include border-radius(3px);
	@include font-size(10);
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	//@include box-shadow(0 0 1px 0 rgba(#000, 0.8));
	border: 1px solid #ddd;
	&:before {
		@extend [data-icon]:before;
		@extend .icon-arrow-right-small:before;
		position: absolute;
		right: 1.3em;
		top: 50%;
		margin-top: -4px;
		font-size: 80%;
	}

	&:after {
		content: '';
		position: absolute;
		height: 24px;
		right: 2.6em;
		top: 50%;
		margin-top: -12px;
		width: 1px;
		background: #FFF;
		border-left: 1px solid #dcdcdc;
		@include transition(all 0.3s ease);
	}

	&:hover {
		background: #000;
		color: #FFF;
		border: 1px solid #000;

		&:after {
			background: #28303c;
			border-left-color: #374252;
		}
	}
}


.overlay-btn {
	position: relative;
	display: block;
	&:after {
		@include transition(all 0.3s ease);
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, 0.3);

		.no-opacity & {
			display: none;
		}
	}


	&:hover {
		&:after {
			opacity: 1;

			.no-opacity & {
				display: block;
			}
		}
	}

	> img {
		display: block;
	}
}

.close-btn {
	@include border-radius(3px);
	padding: 0.8em 1.5em 1em 1.5em;
	display: inline-block;
	color: #e05206;
	background: #FFF; 
	line-height: 1;
	//@include box-shadow(0 0 1px 0 rgba(#000, 0.8));
	border: 1px solid #DDD;
	@include font-size(10);
	font-weight: bold;
	text-transform: uppercase;
	&:before {
		color: #e05206;
		font-size: 80%;
		@extend [data-icon]:before;
		@extend .icon-close:before;
	}

	&:hover {
		background: #000;
		color: #FFF;

		&:before {
			color: inherit;
		}
	}
}

.play-btn {
	display: inline-block;
	@include filter-gradient(#dfdcdf, #f3f3f3);
	@include background(linear-gradient(#dfdcdf, #f3f3f3));
	@include opacity(0.8);
	@include border-radius(4px);
	width: 32px;
	height: 32px;
	color: #e05206;
	position: relative;
	text-align: center;
	line-height: 34px;
	text-indent: 0px;
	&:before {
		content: '\25b6';
		color: #e05206;
	}
}


.print-btn {
	@media print {
		display: none;
	}
}
/* =============================================================================
   Grid
   ========================================================================== */

.row {

	img {
		max-width: 100%;
		height: auto;
	}
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}

.container {
	@include box-sizing(border-box);
	max-width: 810px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	*zoom: 1;


	// @media only screen and (max-width: (860px)) {
	//  width: auto;
	// 	padding-left: 5%;
	// 	padding-right: 5%;
	// }
}

.span {
	min-height: 2px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);
	z-index: 100;
}

.alpha.span {
	padding-left: 0px;
}

.omega.span {
	padding-right: 0px;
}
 
$columns: ((one, 10%), (two, 20%), (two-and-half, 25%), (quarter, 25%), (three, 30%), (three-three, 33.3333333%), (third, 33.3333333%), (one-third, 33.3333333%), (four, 40%), (five, 50%), (six, 60%), (seven, 70%), (seven-and-half, 75%), (eight, 80%), (nine, 90%), (ten, 100%));
$total_columns: length($columns);

$i: 1;
@each $column in $columns {
	$class: nth($column, 1);
	$width: nth($column, 2);
	
	.span.#{$class} {
		width: ($width);
	}

	.push-#{$class} {
		margin-left: ($width);
	}

	.pull-#{$class} {
		margin-left: -($width);
	}
	$i: $i + 1;
}

.break-on-tablet {
	@include device-width(8) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.break-on-mobile {
	@include device-width(4) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.left, .alignleft {
	float: left;
}

.right, .alignright {
	float: right;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.aligncenter,
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.third-width {
	width: 33%;
}

.full-height {
	height: 100%;
}



/* =============================================================================
   Table
   ========================================================================== */

table {
	
}
	table td{
		padding: 0.5em;
	}

/* =============================================================================
   Forms
   ========================================================================== */

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password], 
textarea,
select {
	@include box-sizing(border-box);
	color: #666;
	border: none;

	&:focus {
		outline: none;
	}
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
textarea {	
	@include border-radius(0);
	background: #FFF;
	border: 1px solid #a1a1a1;
	@include box-shadow(inset 0px 2px 5px -1px rgba(0, 0, 0, 0.3));
	padding: 0.6em;
	max-width: 100%;
	@include arial;
	@include font-size(12);
}

select {
	@include border-radius(0);
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #b0b0b0;
	@include box-shadow(0px 4px 2px -1px rgba(0, 0, 0, 0.3));
	padding: 0.6em;
	@include font-size(12);
	@include arial;
	background: #f4f4f4;
	position: relative;
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		padding-right: 40px;
		background: #f4f4f4 url(../images/misc/dropdown.jpg) no-repeat center right;
		background-size: contain;
	}
}

textarea {
	height: 200px;
}

input[type=submit],
input[type=reset] {
	//@extend .white-btn;
	// &:before {
	// 	@extend .white-btn:before;
	// }
	// &:after {
	// 	@extend .white-btn:after;
	// }
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
option::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none !important;
	outline: none !important;
}

label {
	margin: 0 0 0.3em 0;
	@include font-size(13);
}

fieldset {
	border: none;
	padding: 0;
}
/* =============================================================================
   Gravity
   ========================================================================== */

.gform_wrapper {
	max-width: 100% !important;
 	margin: 0 !important;

 	&.gf_browser_chrome {
 		.gfield_checkbox li input[type=checkbox],
 		.gfield_radio li input[type=radio],
 		.gfield_checkbox li input {
 			margin-left: 1px;
 		}

 	}
 	form {
		.gform_heading {
			.gform_title {
				font-weight: normal;
				@include font-size(20);
			}
		}

		div.validation_error {
			text-align: center;
			@include font-size(12);
			font-weight: normal;
			margin: 2em 0 0 0;
		}

	 	.gform_body {

	// 		margin: 20px 0;
	// 		font-family: Arial, Helvetica, sans-serif;

	// 		font-size: 11px;

			.gform_fields {
				margin: 0;
				padding: 0;
				list-style: none;
				@extend .clearfix;

	 			.gfield {
	 				margin: 2em 0;
					padding: 0;
					&.gfield_error {
						border: none;
						background: none;
	//					@include background(rgba(#a40000, 0.4));
						label {
							color: #333;
						}
					}

					&.gsection {
						border-bottom: 1px solid #ececec;
					}
					.gfield_label {

					}

					.ginput_container {
						input[type=text],
						input[type=email],
						input[type=password]{
							text-align: center;
							padding: 0.5em;
							@include font-size(15);
						}
					}

					.gfield_description {
						&.validation_message {
							padding: 0 !important;
							margin: 0;
							color: #df5206;
						}
					}
	 			}
	 		}
	 	}

	 	.gform_footer {
	 		margin: 0;
	 		padding: 0;

	 		.button {
	 			@extend .white-btn;
	 		}
	 	}
	}
}