/* =============================================================================
   Misc
   ========================================================================== */

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	background: #FFF;
	border: 1px solid #d0d0d0;
	@include border-radius(0.8em);
	padding: 2em;
	margin: 2em 1em 4em 1em;
	position: relative;
	text-align: center;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -25px;
		left: 25px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 25px solid transparent; 
		border-right: 25px solid #FFF;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -27px;
		left: 24px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 27px solid transparent; 
		border-right: 27px solid #d0d0d0; 
	}

	.quote {
		display: block;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-open-quote:before;
			color: #eeb111;
		}

		&:after {
			@extend [class*="icon-"];
			@extend .icon-close-quote:before;
			color: #eeb111;
		}
	}
	.quotee {
		display: block;
		position: absolute;
		top: 100%;
		margin-top: 1em;
		left: 5em;
		text-align: left;
	}
}

.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}

.hide-on-tablet {
	@include device-width(8) {
		display: none !important;
	}
}

.hide-on-mobile {
	@include device-width(4) {
		display: none !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-middle {
	vertical-align: middle;	
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}
.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #999;
	border: 0;
    height: 1px;
	margin: 1em auto;

	&.thick {
		height: 4px;	
	}
}


.border {
	border: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;	
}

.border-top {
	border-top: 1px solid #ececec;	
}

.border-left {
	border-left: 1px solid #ececec;	
}

.border-right {
	border-right: 1px solid #ececec;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}

.scroller {
	position: relative;
	min-height: pxtoem(200);
	
	.scroller-mask {
		position: relative;
		overflow: hidden;
		height: 100%;
		
		.scroll-items-container {	
			width: 20000px;
			left: 0;
			height: 100%;
			position: relative;
		}

		.scroll-item {
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;

			> .inner {
				position: relative;

				&:before {
					content: '';
					display: block;
					padding-top: 35%; 
				}

				// @include device-width(6) {
				// 	padding-top: 0;
				// }
			}

			&.current {
				display: block;

				.content {
					@include opacity(1);
				}
			}

			.content {
				@include transition(opacity 1s ease-in-out);
				@include opacity(0);
				position: absolute;
				width: pxtoem(300);
				background: #FFF;
				padding: 1em 2em;
				top: 50%;
				right: 6em;
				@include translateY(-50%);
				@include box-sizing(border-box);

				.no-csstransforms {
					margin-top: -6em;
				}

				@include device-width(7) {
					width: auto;
					left: 6em;
				}

				@include device-width(5) {
					left: 0;
					right: 0;
					position: relative;
					padding-left: 6em;
					padding-right: 6em;
				}
			}
		}
	}
	
	.scroller-pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		@include translateX(-50%);
		@extend .clearfix;
		li {
			float: left;
			list-style: none;
			margin: 0.5em 0.3em;
			.btn {
				display: block;
				background: #e4e4e4;
				width: 12px;
				height: 12px;
				@include border-radius(2px);
				padding: 0;
				@include box-shadow(inset 0px 1px 2px 0px rgba(#000, 0.4));
			}

			&.current .btn,
			.btn:hover {
				background: #7daef1;
			}
		}
	}

	.scroller-navigation {
		position: absolute;
		top: 50%;
		left: 0;
		height: 0;
		width: 100%;
		z-index: 2000;
		@include font-size(80);
		margin-top: -0.5em;

		@include device-width(8) {
			@include font-size(50);
		}
		.prev-btn,
		.next-btn {
			
			width: 1em;
			height: 1em;
			padding: 0;
			position: absolute;
			display: inline-block;
			color: #326ba1;
			&:hover,
			&.hover {
				background: none;

				&:before {
					color: #ffffff;
				}
			}	

			&:before {
				color: #326ba1;
				@include transition(all 0.3s ease);
				
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -0.3em;	
				margin-top: -0.5em;
				@extend [class*="icon-"];
			}
		}


		.prev-btn {
			left: 1.5%;
			&:before {
				@extend .icon-arrow-prev:before;
			}
		}


		.next-btn {
			right: 1.5%;
			&:before {
				@extend .icon-arrow-next:before;
			}
		}
	}
}

.overlay {
	// width:100%;
	// height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.4);
	@include transition(all 0.6s ease);

	.no-rgba & {
		@include opacity(0.4);
		background: #000;
	}
}

.lightbox {
	left: 50%;
    margin-left: -550px;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 1100px;
    z-index: 200;
	
	> .loader {
		padding: 280px 0 0 0;
	}
}
	
.vertical-line {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: #BEBEBE;
	vertical-align: middle;
}

.scale {
	width: 100%;
	height: auto !important;
	max-height: 100%;
	max-width: 100%;
	display: block;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.shadow-3d {
	position: relative;
	z-index: 100;

	&:before {
		content: '';
		z-index: 0;
		display: none;
		.loaded & {
			display: block;
		
			@include device-width(5){
				display: none;
			}
		}
		position: absolute;
		width: 80%;
		height: 0;
		bottom: -1%;
		left: 10%;
		z-index: 0;
		@include box-shadow(0px 0px 25px 8px #000);
		@include transform(perspective(200) rotateX(50deg));
	}

	> * {
		z-index: 200;
		position: relative;
	}
}

.decimal-list {
	list-style: none;
	margin: 0;
	padding: 0;
	ol {
		list-style: none;
		padding-left: 2em;
	}

	li {
		margin: 0.5em 0;
		position: relative;
		&:before {
			position: absolute;
			font-weight: bold;
			left: 0;
		}
	}

	> li {
		counter-increment: firstcounter;
		padding-left: 2em;
		&:before {
			content: counter(firstcounter) ".";
		}

		> ol {
			> li {
				counter-increment: secondcounter;
				padding-left: 2em;
				&:before {
					content: counter(firstcounter) "." counter(secondcounter);
				}
				> ol {
					> li {
						counter-increment: thirdcounter;
						padding-left: 3em;
						&:before {
							content: counter(firstcounter) "." counter(secondcounter) "." counter(thirdcounter);
						}
					}
				}
			}
		}
	}
}

.phone-number {
	@include font-size(33);
	color: #333333;
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	.icon-phone {
		color: #012c55;
		font-size: 0.7em;
	}

	@include device-width(8) {
		@include font-size(30);
	}
}


.circle {
	border: 0.1em solid #eeb111;
	@include border-radius(50%);
	position: relative;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	line-height: 1.3em;
	text-align: center;
	background: #FFF;
}

.testimonials {

	&.open {
		.testimonials-list {
			.testimonial {
				display: block !important;
			}
		}
	}

	.testimonials-list {
		margin: 0;
		padding: 0;
		padding: 0;
		.testimonial {
			margin: 1em 0;
			@include transition(all 3s ease);

			&:nth-child(n+4),
			&.hide {
				display: none;
			}

			@include device-width(10) {
				width: 50%;

				&:nth-child(-n+4) {
					display: block;
				}
			}

			@include device-width(6) {
				width: 100%;

				&:nth-child(n+2),
				&.hide {
					display: none;
				}
			}	
		}
	}


	.footer {
		margin-top: 2em;
		border-top: 1px solid #b0b0b0;
		text-align: center;
		padding: 1em 0;

		.open-testimonials-btn {
			&.is-open {
				&:after {
					@extend .icon-arrow-up:before;
				}
			}
		}
	}
}

.sub-pages {
	list-style: none;
	margin: 0 0 4em 0;
	padding: 0;
	border-top: 1px solid #d7d7d7;

	.page {
		list-style: none;
		border-bottom: 1px solid #d7d7d7;
		padding: 2em 0;

		@include device-width(6) {
			padding: 1em;
		}

		.arrow {
			position: absolute;
			top: 50%;
			margin-top: -1em;
			font-size: 2.5em;
			right: 0.3em;
			padding: 0.3em;
			@include transition(all 0.1s ease);

			@include device-width(7) {
				font-size: 2em;
			}
		}

		.thumbnail {
			position: absolute;
			left: 0;
			top: 50%;
			//@include transform(translateX(-50%) translateY(-50%));
			@include translateY(-50%);
			width: 20%;
			text-align: center;
			img {
				width: 70%;
				max-width: none;	
			}

			@include device-width(6) {
				display: none;
			}
		}

		.content {
			@include device-width(6) {
				margin-left: 0;
			}	
		}

		> a {
			display: block;
			position: relative;

			&:hover {
				.arrow {
					right: 0;
					color: #002b54;
				}
			}
			// &:after {
			// 	@extend [class*="icon-"];
			// 	@extend .icon-arrow-right:before;	
			// 	@include font-size(40);
			// 	position: absolute;
			// 	top: 50%;
			// 	right: 0;
			// 	color: #326ba1;
			// }
		}
	}
}

/* =============================================================================
   Widgets
   ========================================================================== */



/* =============================================================================
   Lists
   ========================================================================== */

.red-list {
	list-style: none;
	margin: 10px 0;
	padding: 0;

	li {
		list-style: none;
		padding: 2px 0 2px 14px;
	}
}

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}

/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #00a3e0;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

.grey-gradient-bg {
	@include filter-gradient(#f3f3f3, #d5d5d5);
	@include background(linear-gradient(#f3f3f3, #d5d5d5));
}


/* =============================================================================
   Widgets
   ========================================================================== */

.widget {
	margin: 2em 0;
}
.widget_nav_menu {
	.menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			a {
				@include helvetica-bold;
				padding: 0.6em 3em 0.6em 1em;
				display: block;
				color: #333333;
				&:hover {
					background: #e1e1e1;
				}
			}

			&.current-menu-item {
				a {
					background: #326ba1;
					color: #FFF;
					position: relative;
					&:after {
						right: 1em;
						top: 50%;
						margin-top: -0.5em;
						position: absolute;
						@extend [class*="icon-"];
						@extend .icon-arrow-right:before;
					}
				}
			}
		}
	}
}