/* =============================================================================
   Misc
   ========================================================================== */

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	background: #FFF;
	border: 1px solid #d0d0d0;
	@include border-radius(0.8em);
	padding: 2em;
	margin: 2em 1em 4em 1em;
	position: relative;
	text-align: center;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -25px;
		left: 25px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 25px solid transparent; 
		border-right: 25px solid #FFF;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -27px;
		left: 24px;
		width: 0; 
		height: 0; 
		border-top: 0 solid transparent;
		border-bottom: 27px solid transparent; 
		border-right: 27px solid #d0d0d0; 
	}

	.quote {
		display: block;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-open-quote:before;
			color: #eeb111;
		}

		&:after {
			@extend [class*="icon-"];
			@extend .icon-close-quote:before;
			color: #eeb111;
		}
	}
	.quotee {
		display: block;
		position: absolute;
		top: 100%;
		margin-top: 1em;
		left: 5em;
		text-align: left;
	}
}

.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}

.hide-on-tablet {
	@include device-width(8) {
		display: none !important;
	}
}

.hide-on-mobile {
	@include device-width(4) {
		display: none !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}

.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #999;
	border: 0;
    height: 1px;
	margin: 1em auto;

	&.thick {
		height: 4px;	
	}
}


.border {
	border: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;	
}

.border-top {
	border-top: 1px solid #ececec;	
}

.border-left {
	border-left: 1px solid #ececec;	
}

.border-right {
	border-right: 1px solid #ececec;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}

.scroller {
	position: relative;
	
	.scroller-mask {
		position: relative;
		overflow: hidden;
		height: 100%;
		
		.scroll-items-container {	
			width: 20000px;
			left: 0;
			height: 100%;
			position: relative;
		}

		.scroll-item {
			background-position: center center;
			background-repeat: repeat-x;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;

			> .inner {
				position: relative;

				&:before {
					content: '';
					display: block;
					padding-top: 30%;

					@include device-width(6) {
						padding-top: 0;
					}
				}

				// @include device-width(6) {
				// 	padding-top: 0;
				// }
			}

			&.current {
				display: block;

				.content {
					@include opacity(1);
				}
			}

			.content {
				@include transition(opacity 1s ease-in-out);
				@include opacity(0);
				position: absolute;
				width: pxtoem(300);
				background: #FFF;
				padding: 1em 2em;
				top: 50%;
				right: 6em;
				@include translateY(-50%);
				@include box-sizing(border-box);

				.no-csstransforms {
					margin-top: -6em;
				}

				@include device-width(7) {
					width: auto;
					left: 6em;
				}

				@include device-width(6) {
					left: 0;
					right: 0;
					position: relative;
					padding-left: 6em;
					padding-right: 6em;
					@include translateY(0);
				}

				@include device-width(4) {
					padding-left: 4em;
					padding-right: 4em;

				}
			}
		}
	}
	
	.scroller-pagination {
		position: absolute;
		top: 0;
		//width: 100%;
		left: 50%;
		@include translateX(-50%);
		list-style: none;
		//margin: 0;
		padding: 0;
        right: 0;
        margin: 0;
        // margin-left: auto;
        // margin-right: auto;
		@extend .clearfix;


		li {
			float: left;
			list-style: none;
			padding: 0;
			margin: 0;

			.btn {
				color: #326ba1;
				border: 0.2em solid #326ba1;
				border-left: none;
				display: block;
				padding: 0.3em 2em;
				@include font-size(16);
				@include helvetica-bold;

				@include device-width(11) {
					font-size: 1em;
					padding: 0.2em 2em;
				}
			}

			&:first-child {
				.btn {
					border-left: 0.2em solid #326ba1;
					@include border-radius(0.6em 0 0 0.6em);
				}
			}

			&:last-child {
				.btn {
					@include border-radius( 0 0.6em 0.6em 0);
				}
			}

			&.current .btn,
			.btn:hover {
				color: #FFF;
				background: #326ba1;
			}
		}
	}

	.scroller-navigation {
		position: absolute;
		top: 50%;
		left: 0;
		height: 0;
		width: 100%;
		z-index: 2000;
		@include font-size(80);
		margin-top: -0.5em;

		@include device-width(8) {
			@include font-size(50);
		}
		.prev-btn,
		.next-btn {
			
			width: 1em;
			height: 1em;
			padding: 0;
			position: absolute;
			display: inline-block;
			color: #326ba1;
			&:hover,
			&.hover {
				background: none;

				&:before {
					color: #ffffff;
				}
			}	

			&:before {
				color: #326ba1;
				@include transition(all 0.3s ease);
				
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -0.3em;	
				margin-top: -0.5em;
				@extend [class*="icon-"];
			}
		}


		.prev-btn {
			left: 1.5%;
			&:before {
				@extend .icon-arrow-prev:before;
			}
		}


		.next-btn {
			right: 1.5%;
			&:before {
				@extend .icon-arrow-next:before;
			}
		}
	}

	&.style-2 {
		.scroller-mask {
		
			.scroll-item {
				.content {
					background: #245d93;
					background: rgba(#245d93, 0.9);
					color: #FFF;
					@include text-shadow(0 4px 0 #000);
					min-width: pxtoem(410);
					right: auto;
					left: 0;
					height: 100%;
					
					@include device-width(4) {
						min-width: 0;
					}

					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: #245d93;
						background: rgba(#245d93, 0.9);
						left: -100%;
						top: 0;
					}
				}
			}
		}

		.scroller-navigation {
			.prev-btn,
			.next-btn {
				&:hover,
				&.hover {
					background: none;

					&:before {
						color: #d9a110;
					}
				}	

				&:before {
					color: #FFF;
				}
			}
		}
	}

	&.style-3 {
		.scroller-mask {
		
			.scroll-item {
				> .inner {
					background: #FFF;
					width: 60%;

					@include device-width(11) {
						width: 70%;
					}

					@include device-width(10) {
						width: 80%;
					}

					@include device-width(5) {
						width: auto;
					}
				}

				.content {
					//height: 100%;
					width: 50%;
					right: 0;
				//	position: relative;

					@include device-width(8) { 
						width: 100%;
						left: 0;
					}
				}

				img {
					width: 50%;
					top: 0;
					left: 0;
					position: absolute;

					@include device-width(8) { 
						display: none;
					}
				}
			}
		}
	}
}

.accordion {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #cccccc;
	> li {
		> .accordion-btn {
			display: block;
			
			@include font-size(25);
			line-height: 1;
			@include helvetica-bold;
			border-bottom: 1px solid #cccccc;
			padding: 0.5em 0;

			@include device-width(6) {
				@include font-size(15);
			}

			.number {
				margin-right: 0.5em;
				font-size: 0.9em;
			}
		}

		> .accordion-content {
			display: none;
			background: #eeeeee;
			border-bottom: 1px solid #ccc;
			padding: 1em 1em 2em 1em;
		}

		&.current {
			> .accordion-content {
				display: block;
			}
		}
	}
}

.overlay {
	// width:100%;
	// height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.4);
	@include transition(all 0.6s ease);

	.no-rgba & {
		@include opacity(0.4);
		background: #000;
	}
}

.lightbox {
	left: 50%;
    margin-left: -550px;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 1100px;
    z-index: 200;
	
	> .loader {
		padding: 280px 0 0 0;
	}
}
	
.vertical-line {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: #BEBEBE;
	vertical-align: middle;
}

.scale {
	width: 100%;
	height: auto !important;
	max-height: 100%;
	max-width: 100%;
	display: block;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.shadow-3d {
	position: relative;
	z-index: 100;

	&:before {
		content: '';
		z-index: 0;
		display: none;
		.loaded & {
			display: block;
		
			@include device-width(5){
				display: none;
			}
		}
		position: absolute;
		width: 80%;
		height: 0;
		bottom: -1%;
		left: 10%;
		z-index: 0;
		@include box-shadow(0px 0px 25px 8px #000);
		@include transform(perspective(200) rotateX(50deg));
	}

	> * {
		z-index: 200;
		position: relative;
	}
}

.decimal-list {
	list-style: none;
	margin: 0;
	padding: 0;
	ol {
		list-style: none;
		padding-left: 2em;
	}

	li {
		margin: 0.5em 0;
		position: relative;
		&:before {
			position: absolute;
			font-weight: bold;
			left: 0;
		}
	}

	> li {
		counter-increment: firstcounter;
		padding-left: 2em;
		&:before {
			content: counter(firstcounter) ".";
		}

		> ol {
			> li {
				counter-increment: secondcounter;
				padding-left: 2em;
				&:before {
					content: counter(firstcounter) "." counter(secondcounter);
				}
				> ol {
					> li {
						counter-increment: thirdcounter;
						padding-left: 3em;
						&:before {
							content: counter(firstcounter) "." counter(secondcounter) "." counter(thirdcounter);
						}
					}
				}
			}
		}
	}
}

.phone-number {
	vertical-align: middle;
	display: inline-block;
	line-height: 1;

	.icon-phone {
		color: #012c55;
		font-size: 0.7em;
	}
}


.circle {
	border: 0.1em solid #eeb111;
	@include border-radius(50%);
	position: relative;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	line-height: 1.3em;
	text-align: center;
	background: #FFF;

	&.icon-mail {
		line-height: 1;
		&:before {
			font-size: 0.6em;
		}
	}
}

.testimonials {

	&.open {
		.testimonials-list {
			.testimonial {
				display: block !important;
			}
		}
	}

	.testimonials-list {
		margin: 0;
		padding: 0;
		padding: 0;
		.testimonial {
			margin: 1em 0;
			@include transition(all 0.3s ease);

			&:nth-child(n+4),
			&.hide {
				display: none;
			}

			@include device-width(10) {
				width: 50%;

				&:nth-child(-n+4) {
					display: block;
				}
			}

			@include device-width(6) {
				width: 100%;

				&:nth-child(n+2),
				&.hide {
					display: none;
				}
			}	
		}
	}


	.footer {
		margin-top: 2em;
		border-top: 1px solid #b0b0b0;
		text-align: center;
		padding: 1em 0;

		.open-testimonials-btn {
			&.is-open {
				&:after {
					@extend .icon-arrow-up:before;
				}
			}
		}
	}
}

.sub-pages {
	list-style: none;
	margin: 0 0 4em 0;
	padding: 0;
	border-top: 1px solid #d7d7d7;

	.page {
		list-style: none;
		border-bottom: 1px solid #d7d7d7;
		padding: 2em 0;

		@include device-width(6) {
			padding: 1em;
		}

		.arrow {
			position: absolute;
			top: 50%;
			margin-top: -1em;
			font-size: 2.5em;
			right: 0.3em;
			padding: 0.3em;
			@include transition(all 0.1s ease);

			@include device-width(7) {
				font-size: 2em;
			}
		}

		.thumbnail {
			position: absolute;
			left: 0;
			top: 50%;
			//@include transform(translateX(-50%) translateY(-50%));
			@include translateY(-50%);
			width: 20%;
			text-align: center;
			img {
				width: 70%;
				max-width: none;	
			}

			@include device-width(6) {
				display: none;
			}
		}

		.content {
			@include device-width(6) {
				margin-left: 0;
			}	
		}

		> a {
			display: block;
			position: relative;

			&:hover {
				.arrow {
					right: 0;
					color: #002b54;
				}
			}
			// &:after {
			// 	@extend [class*="icon-"];
			// 	@extend .icon-arrow-right:before;	
			// 	@include font-size(40);
			// 	position: absolute;
			// 	top: 50%;
			// 	right: 0;
			// 	color: #326ba1;
			// }
		}
	}
}


.steps {
	.step {
		background: #ebebeb;
		margin-bottom: 6em;
		position: relative;

		@include device-width(13) {
			margin-bottom: 4em;
		}
		
		> .inner {
			&:before {
				content: '';
				position: absolute;
				width: 48.6%;
				height: 7px;
				bottom: -3.1em;
				left: 50%;
				@include translateX(-50%);
				background: url(../images/misc/dot.png);

				@include device-width(13) {
					display: none;
				}
			}
		}

		&:nth-last-child(2) {
			> .inner {
				&:before {
					@include translateX(-100%);
					width: 24%;
				}
			}
		}

		&.no-content {
			margin: 0;
			> .inner {
				&:before {
					top: -3.4em;
					width: 7px;
					height: 3.4em;
					@include translateX(none);
				}
			}
		}

		img {
			display: block;
		}

		.content-container {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 7px;
				left: 50%;
				margin-left: -3px;
				top: -3.4em;
				height: 50%;
				padding: 0;
				background: url(../images/misc/dot.png);

				@include device-width(13) {
					display: none;
				}
			}

			&:after {
				content: '';
				position: absolute;
				width: 7px;
				left: 50%;
				margin-left: -3px;
				bottom: -3.7em;
				height: 50%;
				padding: 0;
				background: url(../images/misc/dot.png) left bottom;

				@include device-width(13) {
					bottom: -7.6em;
				}
			}

			@include device-width(13) {
				float: none;
				padding: 0;
				width: auto;
			}

			img {
				@include device-width(13) {
					margin: 0 auto;
				}

				@include device-width(6) {
					display: none;
				}
			}

			@include device-width(6) {
				padding: 10px;
			}
		}

		.content {
			z-index: 200;
			background: #FFF;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%) );
			@include box-shadow(0 0 7px rgba(#000, 0.6));
			padding: 3em;
			width: 75%;
			@include box-sizing(border-box);
			color: #6c6c6c;


			@include device-width(6) {
				position: relative;
				@include transform(none);
				left: 0;
				top: 0;
				margin: 0 auto;
				width: auto;
			}

			@include device-width(4) {
				padding: 2em;
			}
		}


		.number {
			padding: 0.3em;
			position: absolute;
			top: -1em;
			left: 50%;
			margin-left: -1em;
			font-size: 2em;
			border-color: #FFF;
			border-width: 0.16em;
			background: #326ba1;
			color: #FFF;
			@include helvetica-bold;
		}

		.image-container {
			@include device-width(13) {
				display: none;
			}
		}
	}
}

.downloads {
	list-style: none;
	margin: 2em 0 4em 0;
	padding: 0;

	.file {
		list-style: none;
		border-bottom: 1px solid #d7d7d7;
		padding: 2em 0;

		@include device-width(6) {
			padding: 1em;
		}

		.arrow {
			position: absolute;
			top: 50%;
			margin-top: -1em;
			font-size: 2.5em;
			right: 0.3em;
			padding: 0.3em;
			@include transition(all 0.1s ease);

			@include device-width(7) {
				font-size: 2em;
			}
		}

		.thumbnail {
			position: absolute;
			left: 0;
			top: 50%;
			//@include transform(translateX(-50%) translateY(-50%));
			@include translateY(-50%);
			width: 20%;
			text-align: center;
			img {
				width: 45%;
				max-width: none;	
			}

			@include device-width(6) {
				display: none;
			}
		}

		.content {
			@include device-width(6) {
				margin-left: 0;
			}	
		}

		> a {
			display: block;
			position: relative;

			&:hover {
				.arrow {
					right: 0;
					color: #002b54;
				}
			}
			// &:after {
			// 	@extend [class*="icon-"];
			// 	@extend .icon-arrow-right:before;	
			// 	@include font-size(40);
			// 	position: absolute;
			// 	top: 50%;
			// 	right: 0;
			// 	color: #326ba1;
			// }
		}
	}
}

.bin-bag-img,
.wheel-barrow-img {
	width: auto;
	height: 20px;
}

.checkout-progress {
	margin: 0 auto;
	list-style: none;
	padding: 1em 0 4em 0;
	text-align: center;
	position: relative;

	@include device-width(8) {
		display: none;
	}

	li {
		display: inline-block;
		margin: 0 1.4em;
		@include font-size(25);
		padding: 0.3em;
		border-width: 3px;
		@include helvetica-bold;
		border-color: #245d93;
		color: #245d93;
		position: relative;
		&.current {
			border-color: #eeb111;

			.label {
				@include helvetica-bold;
			}
		}

		&:after {
			width: 92px;
			height: 14px;
			position: absolute;
			display: block;
			content: '';
			top: 50%;
			margin-top: -7px;
			right: -220%;
			background: url(../images/misc/dots.png) repeat-x;
		}

		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	background: #dcdcdc;
		// 	display: block;
		// 	//border: 3px solid #FFF;
		// 	@include border-radius(3px);
		// 	bottom: -15px;
		// 	left: 50%;
		// 	margin-left: -4px;
		// 	width: 7px;
		// 	height: 7px;
		// }

		// &:before {
		// 	content: '';
		// 	background: #dcdcdc;
		// 	width: 100%;
		// 	height: 1px;
		// 	position: absolute;
		// 	bottom: -12px;
		// 	left: 0;
		// }

		// &:first-child {
		// 	&:before {
		// 		width: 50%;
		// 		left: 50%;
		// 	}
		// }

		.label {
			position: absolute;
			top: 100%;
			left: 50%;
			width: 8em;
			margin: 0.6em 0 0 -4em;
			@include font-size(13);
			line-height: 1.2;
			@include helvetica-light;
		}

		&:last-child {
			&:after {

				position: absolute;
				content: '';
				width: 95px;
				height: 55px;
				display: block;
				left: 100%;
				bottom: 0;
				margin-left: 2em;
				background: url(../images/misc/truck.png) no-repeat;
	
			}
		}
	}
}


.alert {
	padding-left: 2em;
	position: relative;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		@extend [class*="icon-"];
		@extend .icon-alert:before;
		color: #326ba1;
		font-size: 1.5em;
	}
}


.box {
	background: #f1f1f1;
	margin-bottom: 2em;
	&.blue {
		background: #326ba1;
		color: #FFF;

		> .header {
			background: #245d93;
			.title {
				color: #FFF;
			}
		}
	}

	> .header{
		background: #e6e6e6;
		padding: 0.5em 1em;
		.title {
			margin: 0;
			@include helvetica-bold;
			color: #326ba1;	
		}
	}
	> .content {
		padding: 1em;
		position: relative;
	}
}

.clickdesk_bubble {
	display: none !important;
}


/* =============================================================================
   Lists
   ========================================================================== */

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 0.2em 0;
	}
}

.skip-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		position: relative;
		padding: 0 0 0 2.4em;
		margin: 0.5em 0;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-skip:before;
			color: #edc914;
			position: absolute;
			top: 0.2em;
			left: 0;
		}
	}
}

.cross-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		position: relative;
		padding: 0 0 0 1.4em;
		margin: 0.5em 0;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-cross:before;
			color: #ac0b0b;
			position: absolute;
			top: 0.2em;
			left: 0;
		}
	}
}

.tick-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		position: relative;
		padding: 0 0 0 1.6em;
		margin: 0.5em 0;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-tick:before;
			color: #326ba1;
			position: absolute;
			top: 0.2em;
			left: 0;
		}
	}
}


.house-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		position: relative;
		padding: 0 0 0 1.6em;
		margin: 0.6em 0;
		&:before {
			@extend [class*="icon-"];
			@extend .icon-house:before;
			color: #326ba1;
			position: absolute;
			top: 0.2em;
			left: 0;
		}
	}
}


/* =============================================================================
   Tables
   ========================================================================== */


table {
	background: #f6f6f6;
	thead {
		td,
		th {
			padding: 1em;
			text-align: center;
			@include helvetica-bold;
			@include font-size(12);
			color: #FFF;
			background: #326ba1;
			vertical-align: bottom;

			&:nth-child(2n) {
				background: #295e91;
			}
		}
	}

	tbody {
		td,
		th {
			padding: 1.5em 1em;
			text-align: center;
			border-top: 1px solid #c8c8c8;
			@include font-size(12);

			&:nth-child(2n) {
				background: #efefef;
			}
		}
	}
}
/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #00a3e0;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

.grey-gradient-bg {
	@include filter-gradient(#f3f3f3, #d5d5d5);
	@include background(linear-gradient(#f3f3f3, #d5d5d5));
}


/* =============================================================================
   Widgets
   ========================================================================== */

.widget {
	margin: 2em 0;
}
.widget_nav_menu {
	.menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			a {
				@include helvetica-bold;
				padding: 0.6em 3em 0.6em 1em;
				display: block;
				color: #333333;
				&:hover {
					background: #e1e1e1;
				}
			}

			&.current-menu-item {
				a {
					background: #326ba1;
					color: #FFF;
					position: relative;
					&:after {
						right: 1em;
						top: 50%;
						margin-top: -0.5em;
						position: absolute;
						@extend [class*="icon-"];
						@extend .icon-arrow-right:before;
					}
				}
			}
		}
	}
}

.widget_text {
	padding: 0 10px;
}


/* =============================================================================
   jQuery UI
   ========================================================================== */


.ui-widget-content {
	border: none;
	width: auto;

	.ui-widget-header {
		border: 0;
		border-bottom: 1px solid #cccccc;
	}

	.ui-state-default,
	.ui-state-hover,
	.ui-state-focus {
		border: none;
	}




	&.ui-datepicker {
		padding: 0;
		.ui-datepicker-header {
			padding: 0.6em 0;
		}

		.ui-datepicker .ui-datepicker-next-hover {
			right: 2px;
		}


		.ui-datepicker-prev, 
		.ui-datepicker-next {
			top: 8px;
		}

		table {
			border-collapse: collapse;
			th {
				padding: 1.8em 0 0.6em 0;
				line-height: 1;
			}

			td {
				border: 1px solid #CCC;
				padding: 0;

				&.ui-state-disabled {
					border: none;
				}

				span,
				a {
					padding: 1em 0;
					text-align: center;
				}
			}
		}
	}

	&.ui-slider {
		@include border-radius(1em);
		//@include background-image(linear-gradient(#FFF, #F00 5px, #0C0, #00C 25px));

		.ui-widget-header {
			@include border-radius(1em);
			background: #326ba1; 
		}

		.ui-state-default {
			outline: none;
			background: #eeb111;
			@include border-radius(1em);
			@include font-size(20);
			border: 1px solid #af820e;
			top: -.4em;
			@include box-shadow(0 4px 0 rgba(#000, 0.2));
			cursor: pointer;

			&.ui-state-hover,
			&.ui-state-active,
			&.ui-state-focus {
				outline: none;
				background: #d9a110;
			}

		}

		.ui-slider-handle {
			@include transition(none);
		}
	}
}
